.entity-container {
    display: inline-block;
}
.entity-link {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.entity-link-active {
  background-color: #004385;
  box-shadow: 0 0 10px rgba(0, 67, 128, 0.8);
}

.entity-link a, .entity-link a:hover, .entity-link a:focus, .entity-link a:visited {
    color: white;
}

.entity-link:hover, .entity-link:focus {
    background-color: #0056b3;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.entity-link:active {
    background-color: #004085;
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.entity-link:visited {
    background-color: #007bff;
    color: white;
}

.message-container {
  margin-bottom: 10px;
}

.message-container dl {
  color: #000000;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.message-container dl.debug {
  background-color: #ebf5ee;
  border-color: #9de19d;
}

.message-container dl.info {
  background-color: #e9f7fe;
  border-color: #3d9cd6;
}

.message-container dl.warning {
  background-color: #fdf8e2;
  border-color: #f2da66;
}

.message-container dl.error {
  background-color: #fdeeee;
  border-color: #f28787;
}

.message-container dl.critical {
  background-color: #f9ebfc;
  border-color: #c389f5;
}

.message-container dt {
    font-weight: bold;
}

.message-container dd {
    margin: 0;
    padding-left: 10px;
}
